.cardContainer {
  max-width: 40%;
  min-height: 600px;
  flex: 50%;
  text-decoration: none;
  color: white;
  background-size: cover;
  border-radius: 15px;
  padding: 0em 2em;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url("../assets/img/bgPlaceholder.jpg");
}

.cardContainer:hover {
  box-shadow: 0 0 20px rgb(239, 108, 50);
  transition-duration: 0.4s;
  border-radius: 14px;
  transform: scale(1.07);
}

.innerContainer {
  background-size: cover;
  padding: 1em 2em;
  height: 100%;
}

.rating {
  margin-bottom: 0em;
  padding-bottom: 0em;
}

.overview {
  margin-bottom: 1em;
  padding-bottom: 250px;
  font-size: 1.1em;
}

.heart {
  position: relative;
  padding-bottom: 0em;
}

.title {
  font-size: 2.5em;
  color: rgb(253, 210, 191);
}

@media only screen and (max-width: 1680px) {
  .cardContainer {
    width: 33%;
  }
}

@media only screen and (max-width: 900px) {
  .cardContainer {
    max-width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .overview {
    font-size: 1em;
  }
  .cardContainer {
    text-align: center;
  }
}
